<!DOCTYPE html>
<html>
  <head>
    <title>WVU Pattern Library - Form Utility Test</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>

    <link href="css/styles.css" rel="stylesheet" />

  </head>
  <body>
    <div class="container">
      <h1>WVU Form Tests</h1>
      <form class="wvu-form">

        {{> form-elements }}

        <h2>Fieldset</h2>
        <fieldset>
          This is a field set
        </fieldset>

        <h3>Fieldset with all Form Elements</h3>
        <fieldset>
          {{> form-elements }}
        </fieldset>

      </form>
    </div>
  </body>
</html>
