<h2>Label</h2>
<label for="">
  Label
</label>

<h3>Label with Abbr</h3>
<label for="">Label with an <abbr title="abbreviation">Abbr</abbr>!</label>

<h2>Input</h2>
<input type="email">
<input type="number">
<input type="password">
<input type="search">
<input type="tel">
<input type="text">
<input type="url">
<input type="color">
<input type="date">
<input type="datetime">
<input type="datetime-local">
<input type="month">
<input type="time">
<input type="week">
<input type="file">

<h2>Select</h2>
<select name="" id="">
  <option value="">option 1</option>
  <option value="">option 2</option>
  <option value="">option 3</option>
</select>

<h3>Muti Select</h3>
<select name="" id="" multiple>
  <option value="">option 1</option>
  <option value="">option 2</option>
  <option value="">option 3</option>
</select>

<h2>Textarea</h2>
<textarea name="" id="" cols="30" rows="10"></textarea>

<h2>Checkboxes and Radio</h2>
<input type="checkbox"> Checkbox
<input type="radio"> Radio
